@model CepViewModel

<h2>Consultar CEP:</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search" method="get">
            <div class="form-group">
                <label for="id">CEP:</label>
                <input id="id" name="id" value="@ViewData["Id"]"/>
                <input type="submit" value="Buscar"/>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <span>@Model?.Logradouro</span>
</div>